:root {
  /* Set preferred size of url bar */
  --url-max-width: 300px;
  --url-max-width-focused: 600px;

  /* Change depending on size of ui elements present */
  --navbar-elements-left: 128px;
  --navbar-elements-right: 64px;

  
  --navbar-width-left: calc(var(--url-max-width) + var(--navbar-elements-left));
  --navbar-width-left-focused: calc(var(--url-max-width-focused) + var(--navbar-elements-left));
  --navbar-up-offset: -44px;
  --navbar-bot: 4px; 
  --windows-buttons-width: 128px;
  
  --tab-border-radius: 16px !important;
  --toolbar-bgcolor: rgba(255, 255, 255, 0) !important;
}

#nav-bar {
  margin: var(--navbar-up-offset) var(--windows-buttons-width) var(--navbar-bot) 0px !important;
  pointer-events: none !important;
}
body:has(#urlbar[open]) #nav-bar {
  margin: var(--navbar-up-offset) var(--windows-buttons-width) var(--navbar-bot) 0px !important;
}

#nav-bar toolbarbutton, #nav-bar .urlbar-icon, #urlbar {
  pointer-events: auto !important;
}
.panel-view,
.panel-arrowcontent,
#customizationui-widget-panel,
.panel-subview-body {
  pointer-events: auto !important;
}




#TabsToolbar{
  margin-left: var(--navbar-width-left) !important;
}
body:has(#urlbar[open]) #TabsToolbar {
  margin-left: var(--navbar-width-left-focused) !important;
}

#urlbar-container {
  max-width: var(--url-max-width);
}
body:has(#urlbar[open]) #urlbar-container{
  max-width: var(--url-max-width-focused) !important;
}



.titlebar-spacer[type="post-tabs"] {
  width: var(--navbar-elements-right) !important;
}

.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}

#unified-extensions-button{
  margin-left: auto !important;
  margin-right: 0px !important;
}


.tabbrowser-tab:not([selected]) .tab-background {
  background-color: rgba(120, 120, 120, 0.10) !important;
}

.tabbrowser-tab .tab-background {
  border-radius: 16px !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  height: 32px !important;
}

#urlbar-background,#urlbar {
  border-radius: 16px !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
}
#urlbar-searchmode-switcher, #identity-icon-box, #tracking-protection-icon-container {
  border-radius: 16px !important;
}