:root {
  --navbar-width: 500px; 
  --navbar-width-focused: 800px;
  --navbar-up-offset: -44px;
  --navbar-bot: 4px; 
  --url-max-width-not-focused: 300px;
  --tab-border-radius: 16px !important;
  
  --toolbar-bgcolor: rgba(255, 255, 255, 0) !important;
}

#nav-bar {
  /* background-color: red !important; */
  margin: var(--navbar-up-offset) calc(100vw - var(--navbar-width)) var(--navbar-bot) 0px !important;
}
body:has(#urlbar[open]) #nav-bar {
  /* background-color: darkred !important; */
  margin: var(--navbar-up-offset) calc(100vw - var(--navbar-width-focused)) var(--navbar-bot) 0px !important;
}


#TabsToolbar {
  /* background-color: blue !important; */
  -moz-padding-start: var(--navbar-width) !important;
}
body:has(#urlbar[open]) #TabsToolbar {
  /* background-color: purple !important; */
  -moz-padding-start: var(--navbar-width-focused) !important;
}


#urlbar-container {
  max-width: var(--url-max-width-not-focused);
}
body:has(#urlbar[open]) #urlbar-container{
  max-width: 100vw !important;
}



.titlebar-spacer[type="post-tabs"] {
  width: 0px !important;
}
.tabbrowser-tab:not([selected]) .tab-background {
  background-color: rgba(120, 120, 120, 0.10) !important;
}

.tabbrowser-tab .tab-background {
  border-radius: 16px !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  height: 32px !important;
}

#urlbar-background,#urlbar {
  border-radius: 16px !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
}
#urlbar-searchmode-switcher, #identity-icon-box, #tracking-protection-icon-container {
  border-radius: 16px !important;
}